$chinese-brown: #b33327;
$jonquil: #f5db13;
$brass: #c0aa46;
$black: #000000;
$raisin-black: #212121;
$light-gray: #d2d4d4;
$cultured: #f9f8f6;
$american-yellow: #f2b807;
$persian-plum: #732119;
$venetian-red: #d93e30;
$cg-red: #d93e30;
$white: #ffffff;
$yellow-munsell: #f2cb07;
$maya-blue: #50cfff;
$anti-flash-white: #f2f2f2;
$pastel-green: #73d677;
$coral-red: #ff3434d3;
$auburn: #a72727d5;
$chinese-silver: #ccc;
$dust-storm: #edc8c8;
$middle-purple: #cc83bf;
$pastel-orange: #ffb14a;
$orange-crayola: #fc7a3e;
$pink: #ffbfcb;
$begonia: #ff7171;
$mantis: #63d366;
$water: #d7efff;
$naples-yellow: #fcdf5e;
$gray: #7e7e7e;
$vampire-black: #070707;
$apple: #59a959;
$Lotion: #fdfdfd;
$pitch-black: #00000080;
$coal-black: #0000002e;
